/vendor/
/runtime/
/web/assets/
/web/index-test.php
/.env
*.swp
*.swo
.DS_Store
@runtime/
.ssh/
/.composer/
.phpunit.result.cache
.php-cs-fixer.cache
.composer.install.lock
.migrate.lock
__pycache__/
*.pyc
